@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

p, h1, h2, h3, h4, h5, button, a {
  font-family: 'Montserrat', sans-serif;
  color: #6990F2;
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* FIXED NAVBAR */
.nav-container {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05) !important;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
}

.navbar {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 5% 0 5%;
  padding: 0;
}

@media screen and (max-width:992px) {
  .navbar {
    width: auto;
  }
}

.nav-brand {
  position: relative;
  display: flex;
  height: 40px;
}

.img-brand {
  position: relative;
}

.name-brand {
  position: relative;
  padding: 8px 0 0 15px;
  height: 100%;
  font-weight: bolder;
  font-size: 28px;
}
#alora-pic {
  height: 40vmax;
}

.navbar-toggler-icon {
  padding-top: 5px !important;
  fill: #6990F2 !important;
}

.nav-links {
  height: 100%;
  position: absolute;
  right: 10%;
}

.nav-links ul {
  display: table;
  height: 100%;
}

.nav-item {
  padding-left: 15px !important;
  padding-right: 15px !important;
  display: table-cell;
  vertical-align: middle;
}

.nav-link {
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  color: #000000;
}

.nav-link svg {
  fill: #000000;
}

.nav-item:hover svg {
  transition: all 0.2s ease-in;
  fill: #FFFFFF;
}

.nav-item:hover {
  transition: all 0.2s ease-in;
  background-color: #6990F2;
}

.nav-item:hover .nav-link {
  transition: all 0.2s ease-in;
  color: #FFFFFF;
}

.nav-item:hover .nav-link .arrow-down {
  transition: all 0.2s ease-in;
  fill: #FFFFFF;
}

.dropdown-menu {
  width: 100%;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.dropdown-item {
  margin: 10px 0;
  color: #000000;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  background-color: #6990F2;
  color: #FFFFFF;
}

img.flag {
  width: 30px;
}

.flag-menu {
  min-width: 50px;
}

.flag-item {
  width: auto !important;
  display: inline-block !important;
}

.no-desktop {
  display: none;
}

/* HEADER */
#header {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  padding-top: 90px;
}

.decor {
  z-index: 0;
}

.h-container {
  margin-top: 120px;
}

.h-text-section {
  width: 60%;
  z-index: 5;
}

.h-text-section h2 {
  margin-bottom: 20px;

  font-size: 50px;
  font-weight: bold;
  color: #000000;
}

.h-text-section p {
  width: 80%;
  line-height: 28px;

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color: #4F4F4F;
}

.h-img-section {
  margin: -50px 0 0 -100px;
}

.h-logo {
  height: 100%;
  width: 100%;
}

.h-logo .h-img {
  margin-top: -5vmax;
  height: 36vmax;
}

div.scrolling-hint {
  margin-top: -5vmax;
  width: 100%;
  height: 100px;
  text-align: center;
}

img.scrolling-hint {
  -webkit-animation-name: scrolling-hint-animation;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4s;
  cursor: pointer;
}

@-webkit-keyframes scrolling-hint-animation {
  0% {
    opacity: 0;
    margin-top: 0;
  }

  50% {
    opacity: 0.65;
  }

  100% {
    opacity: 0;
    margin-top: 1.5rem;
  }
}

/* PRODUCTS SECTION */
div#products {
  width: 100%;
  height: auto;
}

.p-text {
  height: 100%;
  margin: 100px 12%;
}

.p-text h2, .p-text p {
  margin-bottom: 20px;
  font-style: normal;
}

.p-text h2 {
  font-weight: bold;
  font-size: 50px;
}

.p-text h3 {
  font-size: 24px;
  color: #000000;
}

.p-text h4 {
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #FFBD2E;
}

.p-text p {
  font-size: 16px;
}

.p-text h3 {
  font-weight: 600;
  font-size: 32px;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.col-left {
  width: 40%;
}

.col-left img {
  width: 100%;
}

.btn-get-extension {
  background-color: #6990F2;
  margin-top: 40px;
  border-radius: 20px;
  padding: 10px 20px;
  width: 180px;
  border: 1px solid #6990F2;
  text-align: center;

  cursor: pointer;
}

.btn-get-extension a {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.btn-get-extension:hover {
  transition: all 0.5s ease-in;
  color: #6990F2;
  background-color: #FFFFFF;
}

.btn-get-extension:hover a,
.btn-get-extension a:hover {
  text-decoration: none !important;
  color: #6990F2;
}

.col-img {
  margin: 70px 0 20px 0;
  padding: 0 20px 0 0 !important;
}

.col-img img {
  width: 100%;
}

.entro-list {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
}

.entro-list li {
  padding: 10px 0;
  
  font-size: 18px;
}

.col-right {
  width: 40%;
}

.e-container {
  margin: 100px 0;
  width: auto;
  height: 80%;
}

.e-card {
  width: 100%;
  height: fit-content;
  padding-bottom: 100px;
  background-color: rgb(207, 221, 255, 0.5);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.e-body {
  padding: 40px;
}

.e-body h3 {
  padding-bottom: 20px;

  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #4F4F4F;
}

.e-section-a {
  margin-bottom: 10px;
  position: relative;
  background-color: #FFFFFF;
  height: 30px;
  width: 80%;
}

.e-section-b {
  margin-bottom: 10px;
  position: relative;
  background-color: rgb(255, 255, 255, 0.5);
  height: 70px;
  width: 90%;
}

/* MORE ON ALORA */
div.alora-info {
  width: 100%;
  height: 25em;
}

div.alora-info div {
  width: 50%;
  margin: 200px auto;
}

div.alora-info p {
  font-size: 18px;
  color: #4F4F4F;
}

div.alora-info p span {
  color: #6990F2;
}

div#next-steps {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding-top: 10%;
}

.next-content {
  padding-left: 200px;
}

.list li {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

li.marked {
  list-style-image: url('../assets/marked.svg');
  color: #6990F2;
}

li.not-marked {
  list-style-image: url('../assets/not-marked.svg');
  color: #6A7073;
}

li.not-marked span {
  font-weight: normal !important;
}


/* OUR MISSION */
div#mission {
  width: 100%;
  height: auto;
  margin-top: 50px;
  background-color: #FFFFFF;
}

div.title-section {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

div.title-section h3 {
  padding: 10px 0 0 10px;

  font-size: 28px;
  font-weight: bold;
}

div.content {
  margin: 0 0 80px 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

div.content h2 {
  width: 80%;
  color: #000000 !important;
  font-size: 50px;
  font-weight: bold;
}

.card-container {
  width: 100%;
}

.info-card {
  float: right;
  background-color: #FFFFFF;
  width: 70%;
  padding: 50px;
  margin-top: 50px;

  border: 1px solid #6990F2;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15),
  20px 20px 0px rgba(105, 144, 242, 1);
}
#infoicon{
  margin-top: -18px;
}
.info-card p {

  color: #4F4F4F;
  font-size: 18px;
}

/* OUR TEAM */
div#our-team {
  width: 100%;
  height: auto;
}

.txt-team {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.team-content {
  margin-top: 50px;
}

.people {
  margin: 100px 0 150px 0;
}

.p-container {
  float: left;
  width: 33.33%;
  height: auto;
  padding: 10px 30px;
}

.structure:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .p-container {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width:992px) {
  .p-container {
    width: 50%;
  }
}

.person {
  margin-bottom: 20px;
}

.photo {
  height: 275px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.p-info {
  height: 120px;
}

.p-info h3 {
  color: #000000;
  font-size: 22px;
  text-align: left;
}

.p-description {
  display: none;
  height: 275px;
  background-color: #FFF;
  border-radius: 15px;

  background-color: #FFFFFF;
  border: 1px solid #6990F2;
  padding: 20px 15px;
}

.p-description div {
  display: table-cell;
  vertical-align: middle;
}

.p-description p, .p-description p a {
  font-size: 14px;
  text-align: left;
  color: #4F4F4F;
  
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.person:hover .p-description {
  display: table;
}

.person:hover .photo {
  display: none;
}

.card {
  border: 1px solid #6A7073;
  border-radius: 20px;
  margin-bottom: 20px;
}

.card-img {
  display: table-column;
  vertical-align: middle;
  border-radius: 0 !important;
  height: 100%;
}

.card-text, .card-title {
  color: #4F4F4F;
}

.card-title {
  font-weight: bold;
}

/* JOIN US */
div#join-us {
  width: 100%;
  height: auto;
}

p.txt-contact {
  color: #4F4F4F;
  font-size: 18px;
}

p.txt-contact a {
  color: #4F4F4F;
  font-weight: bolder;
}

p.txt-contact a:hover {
  text-decoration-line: none;
}

/* FOOTER */
div#footer {
  background-color: #6990F2;
  height: 100px;
  width: 100%;
  text-align: center;
}

div#footer h2 {
  margin: 0;
  padding-top: 40px;
  width: 100%;
  color: #FFFFFF;
  font-size: 18px;
}

div#footer a {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: lighter;
}


@media screen and (max-width:1000px) {

  .nav-container {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05) !important;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
  }

  .navbar {
    position: relative;
    margin: 0 5% 0 5%;
    padding: 10px;
  }

  .nav-brand {
    position: relative;
    display: flex;
    height: 40px;
  }

  .navbar-toggler-icon {
    padding-top: 5px;
    fill: #6990F2;
  }

  .nav-links {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    right: 5%;
    margin: 0;
  }

  .nav-links ul {
    display:  block;
  }

  .nav-item {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 0 !important;
  }

  .dropdown-menu {
    width: 100%;
    text-align: left;
    border: none;
    box-shadow: none;
  }

  .dropdown-item {
    color: #000000;
  }

  .nav-item:hover {
    background-color: #FFFFFF;
  }

  .nav-item:hover .nav-link {
    color: #000000;
  }

  .nav-item:hover .nav-link .arrow-down {
    fill: #000000;
  }

  .nav-item:hover svg {
    fill: #000000;
  }


  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item:active {
    color: #000000;
    background-color: #FFFFFF;
  }

  .no-mobile {
    display: none;
  }

  .no-desktop {
    display: inline;
  }

  #dropdownFlags {
    display: flex;
  }

  .arrow-tip {
    -webkit-animation-name: arrow-tip-animation;
    -webkit-animation-duration: 2.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0.4s;
    width: 16px;
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  @-webkit-keyframes arrow-tip-animation {
    0% {
        opacity: 0;
        padding-left: 0;
    }

    50% {
        opacity: 0.65;
    }

    100% {
        opacity: 0;
        padding-left: 0.5rem;
    }
  }

  img.flag {
    height: 16px !important;
  }

  .mobile-flag-link {
    display: flex;
  }

  .flag-menu.show {
    display: table;
    margin: 0 !important;
    padding: 0 !important;
  }

  .flag-item {
    display: table-cell;
    vertical-align: middle !important;
    margin: 0 10px !important;
    padding: 0 !important;
  }

  .h-text-section {
    width: 100%;
    margin: 20px;
  }

  .h-text-section h2 {
    font-size: 40px;
  }

  .h-text-section p {
    width: 100%;
  }

  .h-img-section {
    margin: 0;
  }

  .h-img-section img {
    width: 50%;
    margin-left: 30%;
  }
  
  .h-container {
    margin-top: 20px;
  }

  .h-logo .h-img {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }

  .p-text h3 {
    font-size: 28px;
  }

  div.alora-info div {
    width: 80%;
    margin: 20px auto;
  }

  .p-text {
    height: 100%;
    margin: 0 12%;
  }

  .c-products {
    margin-bottom: 20px;
  }

  .col-right {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }

  .e-card {
    position: relative;
    right: 0;
    padding-bottom: 30px;
  }

  .e-body h3 {
    font-size: 18px;
  }

  .e-section-a {
    height: 15px;
  }

  .e-section-b {
    height: 30px;
  }

  div.content h2 {
    width: 100%;
    color: #000000 !important;
    font-size: 30px;
    font-weight: bold;
  }

  .info-card {
    width: 90% !important;
    padding: 20px !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15),
    10px 10px 0px rgba(105, 144, 242, 1) !important;
  }

  .info-card p {
    font-size: 16px;
  }

  .next-content {
    padding-left: 20px;
  }

  .footer {
    width: 100%;
  }
}