.font-size-control {
    font-size: 1.25rem!important;
}

/*回到顶部按钮*/
#scroll-to-top-button {
    position: fixed;
    /* 1rem <--> -5rem */
    right: -5rem;
    bottom: 2rem;
    z-index: 10;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

/*主页向下滚动动画图标*/
div.scrolling-hint {
    position: absolute;
    top: 625px;
    height: 5rem;
    width: 100%;
    text-align: center;
    z-index: 1;
}

@-webkit-keyframes scrolling-hint-animation {
    0% {
        opacity: 0;
        margin-top: 0;
    }

    50% {
        opacity: 0.65;
    }

    100% {
        opacity: 0;
        margin-top: 1.5rem;
    }
}

i.scrolling-hint {
    -webkit-animation-name: scrolling-hint-animation;
    -webkit-animation-duration: 2.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0.4s;
    cursor: pointer;
}

/*菜单仅显示电脑版项目*/
.menu .mobile-only {
    display: none !important;
}

.menu .desktop-only {
    display: block !important;
    /*padding-top: 19px !important;*/
}

/*菜单修复*/
.main.menu .mobile-only h3 {
    padding-right: 5ch;
}

.main.menu .item {
    line-height: 30px;
}

.main.menu h3 {
    font-size: 24px;
}

#sidebar-menu h3 {
    margin: 5px 0;
    font-size: 26px;
}

/*横幅巨幕*/
#banner img {
    width: 300px;
    margin: 40px auto 0 auto;
}

#banner h1 {
    margin-top: -10px;
}

#banner h2 {
    margin-top: 15px;
}

#banner div{
    margin-top: 30px;
    margin-bottom: 120px;
}

/*正文控件*/
.ui.horizontal.divider.header {
    margin-top: 125px;
    margin-bottom: 50px;
    font-size: 30px;
}

.ui.medium.header {
    margin-top: 25px;
    font-size: 22px;
}

.ui.text {
    font-family: 'Microsoft YaHei UI', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.ui.text p {
    margin-top: 35px;
}

#team .column {
    width: calc(100%/3);
}

#footer {
    margin-top: 75px;
    padding: 25px;
}

/*手机版*/
@media only screen and (max-width: 768px) {
    /*菜单仅显示手机版项目*/
    .menu .desktop-only {
        display: none !important;
    }

    .menu .mobile-only {
        display: block !important;
        padding-top: 19px !important;
    }

    #team .column {
        width: calc(100%/2);
    }
}